<div>
  <h2 id="page-heading" data-cy="VilleHeading">
    <span jhiTranslate="jhipsterVillesApplicationApp.ville.home.title">Villes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jhipsterVillesApplicationApp.ville.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ville"
        [routerLink]="['/ville/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterVillesApplicationApp.ville.home.createLabel">Create a new Ville</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (villes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterVillesApplicationApp.ville.home.notFound">No Villes found</span>
    </div>
  }

  @if (villes && villes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="jhipsterVillesApplicationApp.ville.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codePostal">
              <div class="d-flex">
                <span jhiTranslate="jhipsterVillesApplicationApp.ville.codePostal">Code Postal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nbHabitants">
              <div class="d-flex">
                <span jhiTranslate="jhipsterVillesApplicationApp.ville.nbHabitants">Nb Habitants</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="region.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterVillesApplicationApp.ville.region">Region</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ville of villes; track trackId(ville)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ville', ville.id, 'view']">{{ ville.id }}</a>
              </td>
              <td>{{ ville.nom }}</td>
              <td>{{ ville.codePostal }}</td>
              <td>{{ ville.nbHabitants }}</td>
              <td>
                @if (ville.region) {
                  <div>
                    <a [routerLink]="['/region', ville.region.id, 'view']">{{ ville.region.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ville', ville.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/ville', ville.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ville)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
